/* Full-page background for entire app */
body, html, #root {
  height: 100%;
  margin: 0;
}

/* Black + red gradient background */
.app-container {
  min-height: 100vh;
  background: linear-gradient(to right, black 50%, red 50%);
  color: white;
  padding: 20px;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #593030, #8a3030, #e91b1b);  
  /* black + deep red */
  color: #fbf9f9;

}


.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #f20e0e, #ef4040);
  color: #171616;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

